.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 184px;
  margin-top: 184px;
  background: #f2f2f2 url("../../../public/images/bg-second.png");
  background-position: top;
  background-repeat: no-repeat;

  span {
    margin-bottom: 24px;
    font-size: 12px;
    letter-spacing: 5px;
    color: #00A077;
  }

  h1 {
    font-size: 48px;
    font-weight: 500;
    color: #3b3e43;
    height: 118;
    text-align: center;
  }


  .containerCards {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 1150px;
    margin-top: 32px;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 370px;
      height: 335px;
      background-color: #fff;
      border-radius: 15px;
      padding-left: 20px;
      padding-right: 20px;

      h2 {
        font-size: 22px;
        color: #3b3e43;
        font-weight: 700;
        margin-bottom: 15px;
      }

      p {
        font-size: 16px;
        color: #595e64;
        line-height: 24px;
        font-weight: 400;
      }
    }
  }
}
